.badge {
  background-color: tomato;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge-gear {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  top: -6px;
  right: -7px;
  color: white;
  font-weight: 600;
  position: absolute;
}
