.screen-header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:20px;
    padding-top:50px;
    opacity: 90%;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}

.screen-header__icons span{
    position: relative;
    margin-left:25px;
}